/* ==========================================================================
   HACKTHON
   ========================================================================== */

  .bigimage {
    margin-bottom: 700px;

    p {
      position: absolute;
      top: 76%;
      bottom: 0;
      left: 0;
      right: 0;
      width: 240px;
      height: 100px;
      margin: auto;
    }
  }
